* {
  box-sizing: border-box;
  font-family: Helvetica, arial, sans-serif;
  font-size: 18px;
}

body,
html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  --primary-color: #2b2b30;
  --background-color: #e7e7f0;
  --secondary-color: #ffff;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.7fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.sidebar {
  background-color: var(--primary-color);
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
}

.sidebar {
  color: #fff;
  font-weight: bold;
  padding: 20px;
  /* display: flex; */
  /* align-items: center; */
}
.sidebar-title {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style-type: none;
  display: grid;
  gap: 1.5rem;
  margin-bottom: 6rem;
}

.sidebar li,
.search-bar-container {
  display: flex;
  align-items: center;
}

.sidebar a {
  text-decoration: none;
  color: inherit;
}
.sidebar-icons {
  margin-right: 0.9rem;
  font-size: 1.3rem;
}

#dashboard-icon {
  font-size: 2rem;
  margin-right: 0.5rem;
}

.nav-menu {
  /* flex: 1; */
  display: grid;
  padding: 0;
}
.nav-settings {
  /* flex: 3; */
  padding: 0;
}

.header {
  background-color: #ffffff;
  padding: 0 1rem;
  display: grid;
  grid-template-rows: 1fr 1.5fr;
}

.header-row-1 {
  display: flex;
  padding: 10px;
}

.search-bar-container {
  flex: 1;
  margin-right: 2.5rem;
}

.search-bar {
  width: 55rem;
  margin-left: 0.5rem;
  border-radius: 1rem;
  padding: 0.6rem;
  border: none;
  background-color: var(--background-color);
}

.bell-username-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2.8rem;
  margin-right: 5rem;
  font-weight: 800;
}

.bell-username-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary-color);
}

#profile-img {
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: 20% 0%;
}

.header-row-2 {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  height: 5rem;
  padding: 10px;
}

.header-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
}

.header-btns button {
  width: 6.5rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
}
.main-content {
  background-color: var(--background-color);
}
